.c-footer {
    .p-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 128px;
        background-image: url(../img/bg-plink.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        @include media-sp {
            background-size: cover;
            background-position: right;
            background-image: url(../img/bg-plink@2x.jpg);
        }
        .__container {
            padding: 64px 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 80px;
            @include media-sp {
                padding: 64px 16px;
                flex-direction: column;
                gap: 40px;
            }
            .__link-item {
                padding: 40px;
                border: 1px solid #fafafa;
                backdrop-filter: blur(25px);
                background-color: #FFFFFF10;
                max-width: 520px;
                width: 100%;
                .__link-ttl {
                    color: #fafafa;
                    text-shadow: 0px 0px 8px #00000080;
                    font-weight: 500;
                    text-align: center;
                    .en-ttl {
                        font-size: 49px;
                        @include media-sp {
                            font-size: 33px;
                        }

                    }
                    .jp-ttl {
                        font-size: 20px;
                        padding-top: 8px;
                        @include media-sp {
                            font-size: 16px;
                        }
                    }
                }
                .__link-ctn {
                    padding: 12px 72px 12px 24px;
                    color: #E9514E;
                    position: relative;
                    background-color: #FAFAFA;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    display: block;
                    width: max-content;
                    margin-top: 40px;
                    margin-right: auto;
                    margin-left: auto;
                    transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition for background and text color
                    cursor: pointer;
                
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%; // Center vertically
                        right: 24px; // Position to the right within the padding area
                        transform: translateY(-50%); // Center it correctly on Y-axis
                        background-image: url('../img/ico-btnr.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 21px;
                        height: 21px; // Adjusted to match your icon size
                        transition: transform 0.3s ease; // Smooth transform transition
                    }
                
                    &:hover {
                        background-color: #E9514E; // Change background color on hover
                        color: #FFFFFF; // Change text color on hover
                
                        &::after {
                            transform: translateY(-50%) translateX(10px); // Move icon to the right on hover
                            background-image: url('../img/ico-btn.png');

                        }
                    }
                }
                
            }

        }

    }
    .p-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/bg-footer.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        @include media-sp {
            background-size: cover;
        }
        .__container {
            padding: 72px 32px 0;
            @include media-sp {
                padding: 32px;

            }
            .__link-wraps {
                
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
                margin-bottom: 48px;
                @include media-sp {
                    margin-bottom: 24px;
                    flex-direction: column;
                    justify-content: flex-end; 
                }
                .__link-wrap {
                    @include media-sp {
                        width: 100%;
                    }
                    &:last-child {
                        @include media-sp {
                            margin-top: 16px;
                            border-top: 1px solid #FAFAFA;
                        }
                    }
                    a, p, li {
                        color: #FAFAFA ;
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;
                        display: block;
                        padding-bottom: 16px;
                        @include media-sp {
                            font-weight: 500;
                            
                        }
                    }
                    p {
                        line-height: 2.5;
                    }
                    .__logo {
                        font-size: 20px;
                        @include media-sp {
                            padding-top: 32px;
                            font-weight: 500;
                            width: 100%;
                        }

                    }
                }
            }
            .__copyright {
                padding: 40px 32px;
                text-align: center;
                color: #FAFAFA;
                border-top: 1px solid #FAFAFA;
                font-size: 16px;
                font-weight: 500;
                @include media-sp {
                    padding: 24px 0;
                    font-size: 13px;
                }

            }
        }
    }
}